/* index.css */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body, #root {
  width: 100%;
  height: 100%;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: linear-gradient(135deg, #0f0f0f, #ff6fae);






}

